@import "tailwindcss";

#controlKit {
    display: none;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #4b5563;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: #00050d;
    border-radius: 10px;
}

/* Lenis css */
html.lenis,
html.lenis body {
    height: auto
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain
}

.lenis.lenis-stopped {
    overflow: clip
}

.lenis.lenis-smooth iframe {
    pointer-events: none
}